body {
    background: #333;
    color: #fff;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
}

/* .state {
    fill: white;
    stroke: black;
    stroke-width: 2px;
}

foreignObject {
    text-align: left;
    background-color: transparent;
    pointer-events: none;
}

.state-label {
    line-height: 40px; /~* √(2) x (radius=30) = 42.43 *~/
    width: 40px;
    text-align: center;
    pointer-events: none;
    font-size: 25px;
    font-family: Monaco, monospace;
    background-color: transparent;
    border: none;
} */

input:focus, select:focus {
    outline: none;
}


/* 
disable pointer-events: https://stackoverflow.com/questions/7700051 
adjust text input width: https://stackoverflow.com/questions/3392493
*/

.DynamicLabel {
    background-color: transparent;
    /* background-color: rgb(235, 220, 220);  */
    border: none;
    font-size: 15px;
    text-align: center;
    z-index: 4; 
    position: absolute;  
    left: 0px; 
    top: 0px;
    font-family: Monaco, monospace;
    width: 1ch;
    pointer-events: none;
}