body {
    background: #333;
    color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
    overflow-anchor: none;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    scroll-margin-top: 0;
}

#buttonsDiv {
    text-align: left;
    padding-left: 7.8%;
}

input:focus, select:focus {
    outline: none;
}

button {
    background-color: #333;
    border: none;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    color: white;
    display: inline-block;
} 

button:hover { 
    border-color: lightblue;
    color: lightblue;
}

button:active {
    border-color: grey;
    color: grey;
}

#inputEditor {
    border: none;
    font-family: Monaco, monospace;
    font-size: 20px;
    height: 500px;
    resize: none;
    width: 1200px;
}

#resultLabel {
    display: inline-block;
    width: 100px;
}


/* 
disable pointer-events: https://stackoverflow.com/questions/7700051 
adjust text input width: https://stackoverflow.com/questions/3392493
*/

.DynamicLabel {
    background-color: transparent;
    /* background-color: rgb(235, 220, 220);  */
    border: none;
    font-size: 15px;
    text-align: center;
    z-index: 4; 
    position: absolute;  
    left: 0px; 
    top: 0px;
    font-family: Monaco, monospace;
    width: 1ch;
    pointer-events: none;
}